button{
    appearance: none;
    outline: 0;
    background-color: #fff;
    border: 0;
    padding: 10px 15px;
    color: #53e3a6;
    border-radius: 3px;
    border: 1px solid #53e3a6;
    width: 250px;
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.25s;
}

button:hover{
    background-color: rgb(245, 247, 249);
}

.result {
    opacity: 0;
    text-align: center;
    color: #666;
    font-size: 1.5rem;
    animation: 1s fadeIn ease-in forwards;
    animation-delay: 1s;
}

.fadeout {
    opacity: 0;
    transform: scale(0.8);
    animation: .3s fadeOut ease-in;
}

.message_wrapper {
    position: relative;
    display: flex;
    justify-content: center;
}

.message {
    position: absolute;
    top: 0;
    opacity: 0;
    font-size: 1.3rem;
    color: #999;
}

.active {
    opacity: 0;
    animation: 2s fadeIn ease-in forwards;
    animation-delay: .5s;
}

@keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@keyframes fadeOut {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}